$font-family-sans-serif: 'Open Sans', sans-serif;
$headings-font-weight: 700;

$box-shadow-sm: 0 1px 6px 0 var(--color-shadow,rgba(49,53,59,0.12));

$primary: #510087;

$slick-arrow-color: $primary !important;